@use "global" as *;

.archive-campaign__categories {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.archive-campaign__cards {
  padding-left: rem(33);
  padding-right: rem(33);
  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
  }
}
