@use "global" as *;

.footer-nav {
  display: flex;
  width: 100%;
  background-color: $green1;
}

.footer-nav__left,
.footer-nav__right {
  width: calc(50% - rem(5));
}

.footer-nav__left-items,
.footer-nav__right-items {
  display: flex;
  flex-direction: column;
}

.footer-nav__left-item a,
.footer-nav__right-item a {
  width: 100%;
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  font-weight: $regular;
  font-size: rem(16);
  line-height: 1.125;
  color: $white;
}
.footer-nav__left-item:first-child a,
.footer-nav__right-item:first-child a {
  font-weight: $bold;
  position: relative;
}

.footer-nav__left-item:first-child a::before,
.footer-nav__right-item:first-child a::before {
  position: absolute;
  content: "";
  width: rem(18);
  height: rem(18);
  top: rem(8);
  left: 0;
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-nav__left-item + .footer-nav__left-item,
.footer-nav__right-item + .footer-nav__right-item {
  margin-top: (16);
}

.footer-nav__right {
  margin-left: rem(12);
}
