@use "global" as *;

.footer {
  background-color: $green1;
  padding-top: rem(46);
  padding-bottom: rem(70);

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__heading-wrap {
  @include mq("md") {
    display: flex;
    align-items: flex-end;
  }
}

.footer__name img {
  width: rem(120);

  @include mq("md") {
    width: rem(200);
  }
}

.footer__sns-links {
  margin-top: rem(18);
  display: flex;

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(40);
    padding-bottom: rem(5);
  }
}

.footer__sns-link + .footer__sns-link {
  margin-left: rem(16);
}

.footer__sns-link img {
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__nav {
  margin-top: rem(30);

  @include mq("md") {
    margin-top: rem(16);
  }
}

.footer__copyright {
  margin-top: rem(26);
  display: flex;
  justify-content: center;
  font-size: rem(14);
  color: $white;

  @include mq("md") {
    margin-top: rem(55);
  }
}
