@use "global" as *;

.post-blog__inner {
  position: relative;
  padding-left: rem(20);
  padding-right: rem(20);
}

.post-blog__inner::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  top: rem(-24);
  left: rem(15);
  background-image: url(../images/common/sub-fish.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: calc(50% - min(49vw, rem(620.8)));
    z-index: -1;
  }
}

.post-blog__contents {
  position: relative;
  @include mq("md") {
    display: flex;
    gap: rem(80);
  }
}

.post-blog__main {
  padding: 0 rem(1);
}

.post-blog__cards {
  @include mq("md") {
    padding: 0;
    margin-top: initial;
  }
}

.post-blog__side {
  width: 100%;
  max-width: rem(600);
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(294);
  }
}
